# --------- pytorch --------- #
torch==2.3.1
torchvision==0.18.1
lightning==2.3.0
torchmetrics==1.4.0

# --------- hydra --------- #
hydra-core==1.3.2
hydra-colorlog==1.2.0
hydra-optuna-sweeper==1.2.0

# --------- loggers --------- #
wandb==0.17.3
# neptune-client
# mlflow
# comet-ml
# aim>=3.16.2  # no lower than 3.16.2, see https://github.com/aimhubio/aim/issues/2550

# --------- others --------- #
rootutils==1.0.7       # standardizing the project root setup
pre-commit==3.7.1      # hooks for applying linters on commit
rich==13.7.1            # beautiful text formatting in terminal
pytest==8.2.2          # tests
h5py==3.11.0           # for saving/loading data
matplotlib==3.9.0      # for plotting
albumentations==1.4.10 # for data augmentations
-e git+https://github.com/CompVis/taming-transformers.git@master#egg=taming-transformers # for using taming transformers
einops==0.8.0          # for using einops in taming transformers
# sh            # for running bash commands in some tests (linux/macos only)
