# --------- pytorch --------- #
torchvision==0.18.1
lightning==2.3.3
torchmetrics==1.4.0.post0

# --------- hydra --------- #

# --------- loggers --------- #
# neptune-client
# mlflow
# comet-ml
# aim>=3.16.2  # no lower than 3.16.2, see https://github.com/aimhubio/aim/issues/2550

# --------- others --------- #
rootutils==1.0.7       # standardizing the project root setup
rich==13.6.0
matplotlib==3.8.0
einops==0.8.0          # for using einops in taming transformers
# sh            # for running bash commands in some tests (linux/macos only)

numpy==1.24.3
pillow==10.4.0
omegaconf==2.3.0
tqdm==4.66.4
yacs==0.1.8
packaging==23.2
setuptools==69.5.1